<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>


<div class="container" id="main-container">
    <h2 th:text="#{offerBoughtList.h2}">Ofertas Compradas</h2>
    <p th:text="#{offerBoughtList.p}">Las ofertas compradas que actualmente figuran en el sistema son las siguientes:</p>
    <div class="table-responsive">
        <table class="table table-hover" id="tableOffers">
            <thead>
            <tr>
                <th scope="col" th:text="#{offerList.title}">Título</th>
                <th scope="col" th:text="#{offerList.description}">Descripción</th>
                <th scope="col" th:text="#{offerList.price}">Precio</th>
                <th scope="col" th:text="#{offerBoughtList.email}">Email Vendedor</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${offerBoughtList}">
                <td th:text="${offer.title}"> OFERTA DE CASCOS!! </td>
                <td th:text="${offer.description}"> AirPods por 199,99€ </td>
                <td th:text="${offer.price}">199.99</td>
                <td th:text="${offer.user.email}">ejemplo1@ejemplo1.com</td>
            </tr>
            </tbody>
        </table>
    </div>
	<div th:if="${#lists.isEmpty(offerList)}"> No offers </div>
</div>

<footer th:replace="fragments/footer"/>
</body>
</html>
